[submodule "lfe"]
	path = lfe
	url = https://github.com/rvirding/lfe
[submodule "lib/ltest"]
	path = lib/ltest
	url = https://github.com/lfex/ltest
[submodule "lib/lutil"]
	path = lib/lutil
	url = https://github.com/lfex/lutil
[submodule "lib/exemplar"]
	path = lib/exemplar
	url = https://github.com/lfex/exemplar
[submodule "lib/complex"]
	path = lib/complex
	url = https://github.com/lfex/complex
