{deps, [{lfe, {git, "https://github.com/rvirding/lfe", {branch, "develop"}}}]}.

{relx, [{release, {olp, "0.1.0"},
                  [%% Erlang applications
                   sasl,
                   %% LFE/OLP
                   lfe, olp,
                   %% LFE libs
                   complex, exemplar, horatio, kla, lcfg, ljson, ltest, lutil,
                   %% Erlang libs required by LFE libs
                   jsx, mochiweb
                  ]},
        {lib_dirs, [".", "./lib"]},
        {dev_mode, false},
        {include_erts, true},
        {include_src, false},
        {extended_start_script, false},
        {generate_start_script, true},
        {include_nodetool, false},
        {overlay, [{copy, "lfe/bin", "{{output_dir}}"}]}
    ]}.
